certifi==2023.5.7
cffi
cfgv
click
colorama
distlib
filelock
Flask
identify
itsdangerous
Jinja2
MarkupSafe
nodeenv
platformdirs
pre-commit
pycparser
PyYAML
typing_extensions
ukkonen
virtualenv
Werkzeug
wincertstore==0.2
#gunicorn